# Byte-compiled / optimized / DLL files
__pycache__/
generated_files/
generated_data/
*.egg-info
mlruns/
wandb/
*.py[cod]
*$py.class
**/*.pyc

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# custom
.vscode
*.onnx
*.npy
*.png
*.jpg
*.jpeg
*.csv
*.dat
*.json